/* Center the loader */
.loader {
  margin: auto;
  z-index: 1;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #7c7c7c;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-wrap {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
