.text-unread-word {
  color: black;
}

.text-read-word {
  color: red
}

.text-read-word-inactive {
  color: black;
}

.text-read-word-active {
  color: red;
}

.text-important-word {
  font-weight: bold;
}
