<div class="container">
  <div class="about text-center">
    <h2 class="display-5">About the app</h2>
  </div>
  <p>
    Vocabulometer aims at helping English learners by offering a platform for vocabulary learning and training,
    using an eye-tracker device. Vocabulometer works with the Tobii EyeX and the Tobii 4C.
  </p>

  <div class="img-list">
    <img class="lab-img" src="/assets/imlab_logo.png">
    <img class="lab-img" src="/assets/opu_logo.png">
    <img class="lab-img" src="/assets/bordeaux.png">
  </div>
  <div class="img-list">
    <img class="lab-img" src="/assets/labri_logo.jpg">
    <img class="lab-img" src="/assets/cnrs_logo.png">
    <img class="lab-img" src="/assets/inp_logo.png">
  </div>

  <p>
    This project has been developed by a student from the Intelligent Media Processing laboratory, in the Osaka
    Prefecture University. This website has been created for research purpose, as part of exploring how to use new technology
    devices such as eye-trackers to enhance people's lives.
  </p>
  <p>
    Eye gaze analysis algorithms and some texts are taken from a prototype built by University of Bordeaux students.
  </p>
</div>
