<div id="language-toggle" class="container">
  <app-toggle valueOff="english"
              titleOff="English"
              valueOn="japanese"
              titleOn="Japanese"
              (change)="setLanguage($event)"
  ></app-toggle>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 id="title" class="display-4">Train your English skills with Vocabulometer!</h1>
  <div id="help-link">
    Before using the website for the first time be sure to check <a routerLink="/help">HERE</a>
  </div>

  <div *ngIf="userHandler.value;else userform">
    After, give a try, read <a routerLink="/text">this text</a>
  </div>

  <ng-template #userform>
    After, start reading some English texts by logging in!
    <form>
      <label>Username <input type="text" [(ngModel)]="username" name="username"/></label><br>
      <label>Password <input type="password" [(ngModel)]="password" name="password"/></label><br>
      <button (click)="onLog()" (touchstart)="onLog()">Log in</button>
    </form>
    <span>(If the provided username does not exist, a new account is created)</span>
  </ng-template>
</div>

<div class="container">
  <hr>

  <div class="about text-center">
    <h2 class="display-5">About the app</h2>
  </div>
  <p>
    Vocabulometer aims at helping English learners by offering a platform for vocabulary learning and training,
    using an eye-tracker device. Vocabulometer works with the Tobii EyeX and the Tobii 4C.
  </p>

  <div class="img-list">
    <img class="lab-img" src="/assets/imlab_logo.png">
    <img class="lab-img" src="/assets/opu_logo.png">
    <img class="lab-img" src="/assets/bordeaux.png">
  </div>
  <div class="img-list">
    <img class="lab-img" src="/assets/labri_logo.jpg">
    <img class="lab-img" src="/assets/cnrs_logo.png">
    <img class="lab-img" src="/assets/inp_logo.png">
  </div>

  <p>
    This project has been developed by a student from the Intelligent Media Processing laboratory, in the Osaka
    Prefecture University. This website has been created for research purpose, as part of exploring how to use new technology
    devices such as eye-trackers to enhance people's lives.
  </p>
  <p>
    Eye gaze analysis algorithms and some texts are taken from a prototype built by University of Bordeaux students.
  </p>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome to Vocabulometer!</h5>
      </div>

      <div id="myModal1">
        <div class="modal-body">
          <p>Which language do you want to excel at?</p>

          <button class="language-button" (click)="onEnglishSelected()">English</button>
          <button class="language-button" (click)="onJapaneseSelected()">Japanese</button>
        </div>
      </div>

      <div id="myModal2">
        <div class="modal-body">
          <p>This is your first time in Vocabulometer with this language, so we need to know a bit more about you before letting you
            use our learning services. </p>
          <p>This platform uses your vocabulary to recommend texts that correspond to your level. Yet as you are
            a new user we have no information about your vocabulary!</p>

          <p>Vocabulometer offers you two options to solve this issue. Either solve a quiz that will determine your level,
            or give your JLPT / CEFR level if you know about it.</p>

          <p>Please select one of the two options.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onLogOut()">Log out</button>
          <button type="button" class="btn btn-primary" (click)="onLevel()">Set a level</button>
          <button type="button" class="btn btn-primary" (click)="onQuiz()">Start the quiz</button>
        </div>
      </div>
    </div>
  </div>
</div>
