#help-link {
  font-size: 1.4em;
  margin: 12px;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.pricing-header form {
  margin-top: 20px;
  margin-bottom: 25px;
}

.pricing-header form > button {
  margin-top: 15px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

#title {
  font-family: Raleway, sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
}

#language-toggle > * {
  margin-top: 20px;
  float: right;
}

#myModal1 > .modal-body {
  text-align: center;
}

.language-button {
  background: none;
  width: 200px;
  height: 100px;
  font-size: 1.5em;
  border-radius: 6px;
  border: solid 1px #CCC;
  box-shadow: 1px 1px #AAA;
  margin-bottom: 10px;
}

.language-button:hover {
  cursor: pointer;
  background-color: #EEE;
}

