<div [ngClass]="paneClasses">
  <div>
    <label class="debug-button">
      <input type="checkbox" [(ngModel)]="reticleHandler.value" name="reticule-visible"/>
      <span class="debug-button-text">
        <span class="debug-button-text-title">
          Reticule {{(reticleHandler.value) ? 'Visible' : 'Hidden'}}
        </span>
      </span>
    </label>
    <label class="debug-button">
      <input type="checkbox" [ngModel]="readWordsHandler" (ngModelChange)="readModeChanged()" name="read-words-visible"/>
      <span class="debug-button-text">
        <span class="debug-button-text-title">
          Read Words {{(readWordsHandler) ? 'Visible' : 'Hidden'}}
        </span>
      </span>
    </label>
  </div>

  <div>
    <label class="debug-button">
      <input type="checkbox" [(ngModel)]="mouseModeHandler.value" />
      <span class="debug-button-img mouse-mode-img">
        <span class="debug-button-img-title">
          Mouse Mode <br>{{(mouseModeHandler.value) ? 'Active' : 'Inactive'}}
        </span>
      </span>
    </label>
    <label class="debug-button">
      <input type="checkbox" [(ngModel)]="readingDetectionHandler.value" />
      <span class="debug-button-img reading-detection-img">
        <span class="debug-button-img-title">
          Reading Detection <br>{{(readingDetectionHandler.value) ? 'Active' : 'Inactive'}}
        </span>
      </span>
    </label>
  </div>
</div>

<!--<button class="pane-toggle-button">-->
  <!--<img src="assets/settings.png" />-->
<!--</button>-->
