<div id="recommendation-section" class="container">
  <h1>Recommendations</h1>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" *ngFor="let key of getModeKeys()" [class]="'btn btn-secondary ' + ((mode === key) ? 'content-active' : '')" (click)="setMode(key)">
      <span *ngIf="getModeObject(key).icon !== undefined; else textAsTitle">
        <img class="dataset-icon" src="assets/{{getModeObject(key).icon}}" />
      </span>
      <ng-template #textAsTitle>
        {{getModeObject(key).name}}
      </ng-template>

    </button>
  </div>

  <hr>

  <h2>Revise your vocabulary</h2>

  <div *ngIf="recommendedContent; else recommendationLoader">
    <div class="row equal">
      <div class="col-md-4" *ngFor="let content of recommendedContent">
        <div class="text-summary">
          <a [routerLink]="produceLink(content.uri)" target="_blank" *ngIf="!getModeObject(mode).external">{{content.title}} ({{content.score.toFixed(2)}})</a>
          <a [href]="produceLink(content.uri)" target="_blank" *ngIf="getModeObject(mode).external">{{content.title}} ({{content.score.toFixed(2)}})</a>
        </div>
      </div>
    </div>
    <p>
      * Those content are supposed to be the best for helping you to revise your vocabulary. The number
      shown in front of each title indicates how strongly fixed are the content words in your memory, based on your
      previous readings / watching.
    </p>
  </div>
  <ng-template #recommendationLoader>
    <app-loader></app-loader>
    <p class="waiting-msg">Sorry, computing recommendations is a long task! Thank you for waiting!</p>
  </ng-template>

  <hr>

  <h2>Easy texts for you</h2>
  <div *ngIf="easyContent; else easyContentLoader">
    <div class="row equal">
      <div class="col-md-4" *ngFor="let content of easyContent">
        <div class="text-summary">
          <a [routerLink]="produceLink(content.uri)" target="_blank" *ngIf="!getModeObject(mode).external">{{content.title}} ({{(content.score * 100).toFixed()}}%)</a>
          <a [href]="produceLink(content.uri)" target="_blank" *ngIf="getModeObject(mode).external">{{content.title}} ({{(content.score * 100).toFixed()}}%)</a>
        </div>
      </div>
    </div>
    <p>
      * A percentage of 50% means that you know 50% of the words used
    </p>
  </div>
  <ng-template #easyContentLoader>
    <app-loader></app-loader>
    <p class="waiting-msg">Sorry, computing recommendations is a long task! Thank you for waiting!</p>
  </ng-template>

  <hr>

  <h2>Hard texts for you</h2>
  <div *ngIf="hardContent; else hardContentLoader">
    <div class="row equal">
      <div class="col-md-4" *ngFor="let content of hardContent">
        <div class="text-summary">
          <a [routerLink]="produceLink(content.uri)" target="_blank" *ngIf="!getModeObject(mode).external">{{content.title}} ({{(content.score * 100).toFixed()}}%)</a>
          <a [href]="produceLink(content.uri)" target="_blank" *ngIf="getModeObject(mode).external">{{content.title}} ({{(content.score * 100).toFixed()}}%)</a>
        </div>
      </div>
    </div>
    <p>
      * A percentage of 50% means that you know 50% of the words used
    </p>
  </div>
  <ng-template #hardContentLoader>
    <app-loader></app-loader>
    <p class="waiting-msg">Sorry, computing recommendations is a long task! Thank you for waiting!</p>
  </ng-template>
</div>
