.spinner-input input {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 10px;
  border: 1px inset #ffffff;
  width: 80px;
  height: 40px;
  text-align: right;
}

.spinner-input {
  float: left;
}

.spinner-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  float: left;
  width: 100px;
  line-height: 40px;
}

.spinner-text-unit {
  width: 30px;
  margin-left: 4px;
  line-height: 40px;
}


.button-incdec {
  float: left;
  display: inline;
  padding: 0;
  margin: 0;
}

.button-incdec > button {
  width: 32px;
  height: 20px;
  background-color: white;
  padding: 0;
  border: 1px inset #ffffff;
  font-weight: bold;
  color: #333;
}

.button-incdec > button:active {
  background-color: #cccccc;
}

.button-inc {
  float: left;
  border-top-left-radius: 3px;
}

.button-dec {
  clear: left;
  float: left;
  border-bottom-left-radius: 3px;
}
