
<div class="container" id="graph-section">
  <h2>Words read this last week</h2>
  <div class="graph-div" id="words-read">

  </div>

  <h2>New words encountered this last week</h2>
  <div class="graph-div" id="new-words-read">

  </div>

  <div *ngIf="newRecentWords">
    <h2>New recently read words</h2>
    <div id="recent-new-words-read">
      <div >
        <div class="row equal">
          <div class="col-sm-3" *ngFor="let word of newRecentWords">
            <span class="word-item">{{word._id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2>Easy texts for you</h2>
  <div *ngIf="easyTexts">
    <div class="row equal">
      <div class="col-md-4" *ngFor="let text of easyTexts">
        <div class="text-summary">
          <a [routerLink]="['/text', text._id]">{{text.title}} ({{(text.score * 100).toFixed()}}%)</a>
        </div>
      </div>
    </div>
  </div>

  <h2>Hard texts for you</h2>
  <div *ngIf="hardTexts">
    <div class="row equal">
      <div class="col-md-4" *ngFor="let text of hardTexts">
        <div class="text-summary">
          <a [routerLink]="['/text', text._id]">{{text.title}} ({{(text.score * 100).toFixed()}}%)</a>
        </div>
      </div>
    </div>
  </div>

</div>
