<div class="container" id="graph-section">
  <h1>Statistics & Graphs</h1>
  <hr>

  <h2>Words read this last week</h2>
  <div [style.display]="(wordsReadLoaded) ? 'block' : 'none'" class="graph-div" id="words-read"></div>
  <div *ngIf="!wordsReadLoaded">
    <app-loader></app-loader>
  </div>

  <hr>

  <h2>New words encountered this last week</h2>
  <div [style.display]="(newWordsReadLoaded) ? 'block' : 'none'" class="graph-div" id="new-words-read"></div>
  <div *ngIf="!newWordsReadLoaded">
    <app-loader></app-loader>
  </div>

  <hr>

  <h2>New recently read words</h2>
  <div *ngIf="newRecentWords; else newRecentWordsLoader">
    <div id="recent-new-words-read">
      <div >
        <div class="row equal">
          <div class="col-sm-3" *ngFor="let word of newRecentWords">
            <span class="word-item">{{word._id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #newRecentWordsLoader>
    <app-loader></app-loader>
  </ng-template>

</div>
