<app-gaze-cursor></app-gaze-cursor>

<img src="/assets/close_hover.png" style="display: none"/>
<div id="side-pane" [@widthTransition]="(paneClasses) ? 'open' : 'closed'" [style.top]="paneOffset + 'px'">
  <div class="side-pane-container">
    <div id="side-pane-title">
      Settings
    </div>
    <label class="side-pane-inner-button"><input type="checkbox" [(ngModel)]="paneClasses" /></label>
    <app-settings></app-settings>
    <app-debug></app-debug>
  </div>
</div>

<span class="side-pane-button"><label><input type="checkbox" [(ngModel)]="paneClasses" /></label></span>

<div class="text-container">
  <div *ngIf="text && title; else textLoader">

    <span class="text-title">{{title}}</span>
    <div class="text"
         [innerHtml]="text"
         [style.font-size]="settings.fontSizeValue.normalizedValue() + 'em'"
         [style.line-height]="settings.lineSpaceValue.normalizedValue() + '%'">


    </div>
  </div>
</div>

<ng-template #textLoader>
  <app-loader></app-loader>
</ng-template>
