<div class="container" id="review-content">
  <form>
    <div id="question-sentence">Drive</div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answer" value="0">
      <label class="form-check-label">
        Effacer
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answer" value="1">
      <label class="form-check-label">
        Conduire
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answer" value="2">
      <label class="form-check-label">
        Vivre
      </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onNext()">Next</button>
  </form>
</div>
