html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h5 > a:hover {
  text-decoration: none;
  font-weight: 500;
}

.vertical-line {
  border-left: 1px solid #e1e1e1;
  font-size: 1.8em;
  position: relative;
  top: 7px;
  margin-left: 8px;
  margin-right: 12px;
}

.header {
  position: relative;
  z-index: 3;
}

.display-5 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2;
  font-family: Raleway, sans-serif;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.app-content {
  margin-top: 20px;
}

nav > a {
  line-height: 4.5em;
}

.navbar-nav img {
  width: 42px;
  height: 42px;
}

.active {
  font-weight: 500;
}

.log {
  float: right;
}

.user-nav {
  padding: 5px;
  border-radius: 37px;
  background-color: #ececec;
}

.user-nav:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

.user-nav > span {
  font-weight: 500;
}

.user-nav img {
  margin-left: 5px;
  height: 42px;
}

.logout-button {
  padding: 12px;
  border: none;
  border-radius: 100%;
  background: none;
  margin-left: 6px;
}

.logout-button:hover {
  background-color: #dadada;
  cursor: pointer;
}

.logout-button > img {
  width: 22px;
  height: 22px;
}
