<div class="container" id="quiz-content" *ngIf="currentQuestion !== undefined">
  <h2>{{language === 'english' ? 'English' : 'Japanese'}} Vocabulary Test</h2>

  <p *ngIf="language === 'english'; else japanese_explanations">
    A quiz item involves a word in capital letters and a sentence to provide a context. Try to pick the
    correct meaning for the given word among the four possible options.
  </p>

  <ng-template #japanese_explanations>
    <p>
      This quiz is a "fill the gap". Try to pick the word or expression among the four possible options
      that matches the best the gap.
    </p>
  </ng-template>

  <p>
    The goal is not to get the highest score possible but to get the score that corresponds to your actual level.
    <strong>Therefore if you have no idea or are doubtful about the correct answer please pick "<em>I don't know</em>".</strong>
  </p>

  <div id="question-caption">Question {{currentQuestionId + 1}} / {{quiz.length}}</div>

  <form>
    <div id="question-sentence">{{currentQuestion.question}}</div>
    <div class="form-check" *ngFor="let answer of currentQuestion.answers; let i = index">
      <input class="form-check-input" type="radio" name="answer" id="{{'answer' + i}}" value="{{i}}">
      <label class="form-check-label" for="{{'answer' + i}}">
        {{answer}}
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answer" id="dont-know-radio" value="{{currentQuestion.answers.length}}" checked>
      <label class="form-check-label" for="dont-know-radio">
        <span class="dont-know-answer">I don't know</span>
      </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onNext()">{{currentQuestionId + 1 === quiz.length ? 'Submit' : 'Next'}}</button>
  </form>

  <div id="quiz-result" *ngIf="quizResult !== undefined">
    Result: {{quizResult}} / {{quiz.length}} correct answers <br>
    <span *ngIf="language === 'english'">You know approximately {{quizResult * (14000 / quiz.length)}} family words</span> <br>
    <span *ngIf="language === 'english'">CEFR vocabulary level: {{level}}</span> <br>

    <div class="submit-button">
      <button type="submit" class="btn btn-primary" (click)="saveResult()">Save and return to Home page</button>
    </div>


    <div id="wrong-answers">
      Here are the words for which you provided a wrong answer:
      <div class="row">
        <div class="col-sm-3" *ngFor="let word of wrongAnswers">
          {{word}}
        </div>
      </div>
    </div>
  </div>
</div>
