.spinner-input input {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1em;
  padding: 0 10px;
  border: 1px inset #ffffff;
  width: 80px;
  height: 32px;
  text-align: right;
}

.spinner-input {
  float: left;
}

.spinner-text {
  color: white;
  font-size: 0.85em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  float: left;
  width: 100px;
  line-height: 32px;
}

.spinner-text-unit {
  width: 30px;
  margin-left: 4px;
  line-height: 32px;
}


.button-incdec {
  float: left;
  display: inline;
  padding: 0;
  margin: 0;
}

.button-incdec > button {
  width: 32px;
  height: 16px;
  background-color: white;
  padding: 0;
  border: 1px inset #ffffff;
}

.button-incdec > button:active {
  background-color: #cccccc;
}

.button-inc {
  float: left;
  border-top-left-radius: 3px;
}

.button-dec {
  clear: left;
  float: left;
  border-bottom-left-radius: 3px;
}
