<div id="profile-section" class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" *ngFor="let imode of getModeKeys()" [class]="'btn btn-lg ' + ((mode === imode) ? 'btn-primary' : 'btn-light')" (click)="setMode(imode)">
      {{MODES[imode]}}
    </button>
  </div>

  <hr>


  <div [style.display]="(mode === 'reading') ? 'block' : 'none'">
    <app-profile-reading></app-profile-reading>
  </div>

  <div [style.display]="(mode === 'review') ? 'block' : 'none'">
    <app-profile-review></app-profile-review>
  </div>
</div>
