<div class="container" id="set-level-content">
  <form>
    <div class="form-group">
      <label for="cefr-level">Please select your CEFR level</label>
      <select class="form-control" id="cefr-level">
        <option value="Z" selected>New learner</option>
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSave()">Save level</button>
  </form>
</div>
