<div class="container" id="set-level-content">
  <form>
    <div id="english-levels" class="form-group">
      <label for="cefr-level">Please select your CEFR level</label>
      <select class="form-control" id="cefr-level">
        <option value="Z" selected>New learner</option>
        <option value="A1">A1 (TOEIC: 120)</option>
        <option value="A2">A2 (TOEIC: 225)</option>
        <option value="B1">B1 (TOEIC: 550)</option>
        <option value="B2">B2 (TOEIC: 785)</option>
        <option value="C1">C1 (TOEIC: 945)</option>
        <option value="C2">C2 (TOEIC: 990+)</option>
      </select>
    </div>

    <div id="japanese-levels" class="form-group">
      <label for="jlpt-level">Please select your JLPT level</label>
      <select class="form-control" id="jlpt-level">
        <option value="Z" selected>New learner</option>
        <option value="N5">N5</option>
        <option value="N4">N4</option>
        <option value="N3">N3</option>
        <option value="N2">N2</option>
        <option value="N1">N1</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSave()">Save level</button>
  </form>
</div>
