<div class="app-navbar">
  <a class="home-link" routerLink="/"></a>
  <div class="user-button">


    <div *ngIf="userHandler.value">
      <div class="graph-link">
        <a routerLink="/graph"><img src="/assets/graph.png" /></a>
      </div>
      <div class="graph-link">
        <a routerLink="/admin"><img src="/assets/database.png" /></a>
      </div>
      <img src="/assets/user.png" />
      <span>
        {{userHandler.value.name}}
      </span>
      <button class="logout-button" (click)="onLogOut()">Log out</button>
    </div>
  </div>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
